{% extends 'news/base.html' %}
{% load static %}

{% block title %}Foydalanuvchi profili{% endblock title %}

{% block content %}
    <h3>Hush kelibsiz, {{ user.username }}</h3>
    <h3><a href="{% url 'logout' %}" class="text-danger">Saytdan chiqish</a></h3>
    <h2>Foydalanuvchi {{ user.username }}ning ma'lumotlari:</h2>
    <img src="{{ profile.photo.url }}" width="30%">
    <h4>Tug'ilgan yilingiz: {{ profile.date_of_birth }}</h4>
    <label>Foydalanuvchi nomi:</label><input value="{{ user.username }}" readonly placeholder="Ma'lumot kiritilmagan"><br>
    <label>Foydalanuvchi emaili:</label><input value="{{ user.email }}" readonly placeholder="Ma'lumot kiritilmagan"><br>
    <label>Foydalanuvchi ismi:</label><input value="{{ user.first_name }}" readonly placeholder="Ma'lumot kiritilmagan"><br>
    <label>Foydalanuvchi familiyasi:</label><input value="{{ user.last_name }}" readonly placeholder="Ma'lumot kiritilmagan"><br>

    <h4><a href="{% url 'password_change' %}" style="color: red">Parolni almashtirish </a>|
    <a href="{% url 'edit_user_information' %}" style="color:red">Profilni o'zgartirish</a></h4>
{% endblock content %}
